body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@mixin dot-animation {
  animation: {
    direction: alternate;
    duration: 0.5s;
    fill-mode: none;
    iteration-count: infinite;
    name: stretch;
    play-state: running;
    timing-function: ease-out;
  }
  border-radius: 100%;
  display: block;
  height: 10px;
  margin: 0 1px;
  width: 10px;
}

@keyframes stretch {
  0% {
    transform: scale(0.5);
    background-color: whitesmoke;
  }

  50% {
    background-color: whitesmoke;
  }

  100% {
    transform: scale(1);
    background-color: white;
  }
}
.btnLoad {
  align-items: center !important;
  display: inline-flex !important;
  justify-content: center !important;
  &.btn--loading {
    font-size: 0 !important;
    .spanLoad {
      display: flex;
      b {
        @include dot-animation;
        animation-delay: 0.1s;
        margin: 0 5px;

        &:first-child {
          animation-delay: 0s;
          margin: 0;
        }

        &:last-child {
          animation-delay: 0.2s;
          margin: 0;
        }
      }
    }
  }

  b {
    font-weight: normal;
  }

  .spanLoad {
    display: none;
  }
}

// textbox

.inputIconLeft {
  position: absolute;
  left: 3px;
  font-size: 1.5rem;
  top: calc(50% - 0.5em);
}
.inputIconRight {
  position: absolute;
  right: 3px;
  font-size: 1.5rem;
  top: calc(50% - 0.5em);
}
.input-wrapper {
  position: relative;
  width: max-content;
}

// checkbox

.nvxCbx {
  .checkbox {
    --background: #fff;
    --border: #d1d6ee;
    --border-hover: #bbc1e1;
    --border-active: #003a61;
    --tick: #fff;
    position: relative;
    padding: 0px;
    display: flex;
    align-items: center;
    span {
      margin-left: 10px;
    }
    input,
    svg {
      width: 18px;
      height: 18px;
    }
    input {
      -webkit-appearance: none;
      -moz-appearance: none;
      position: relative;
      outline: none;
      background: var(--background);
      border: none;
      margin: 0;
      padding: 0;
      cursor: pointer;
      border-radius: 4px;
      transition: box-shadow 0.3s;
      box-shadow: inset 0 0 0 var(--s, 1px) var(--a, var(--border));
      &:hover {
        --s: 2px;
        --a: var(--border-hover);
      }
      &:checked {
        --a: var(--border-active);
      }
    }
    svg {
      pointer-events: none;
      fill: none;
      stroke-width: 2px;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke: var(--stroke, var(--border-active));
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      transform: scale(var(--scale, 1)) translateZ(0);
    }
    &.path {
      input {
        &:checked {
          --s: 2px;
          transition-delay: 0.4s;
          & + svg {
            --a: 16.1 86.12;
            --o: 102.22;
          }
        }
      }
      svg {
        stroke-dasharray: var(--a, 86.12);
        stroke-dashoffset: var(--o, 86.12);
        transition: stroke-dasharray 0.6s, stroke-dashoffset 0.6s;
      }
    }
    &.bounce {
      --stroke: var(--tick);
      input {
        &:checked {
          --s: 11px;
          & + svg {
            animation: bounce 0.4s linear forwards 0.2s;
          }
        }
      }
      svg {
        --scale: 0;
      }
    }
  }

  @keyframes bounce {
    50% {
      transform: scale(1.2);
    }
    75% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
}

// tabs

#tsum-tabs {
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin-bottom: 25px !important;
  border-radius: 10px;
  main {
    min-width: 320px;
    padding: 15px;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
  }

  section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
    background-color: white !important;
  }

  input[type="radio"] {
    display: none;
  }

  label {
    margin-left: 5px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 8px 13px;
    font-weight: 500;
    text-align: center;
    color: #424242;

    i {
      margin-right: 10px;
      font-size: 13px !important;
      margin-top: 40px !important;
    }

    span {
      margin-bottom: -10px !important;
    }

    &:before {
      font-weight: normal;
      margin-right: 10px;
    }
  }
}

// avatar

.nvxAvatar {
  width: 45px;
  height: 45px;
  background-color: #003a61;
  border-radius: 5000px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 2px solid white;
  margin-right: -10px;
  span {
    color: white;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 1px;
  }
}
